<div class="position-fixed sidebar">
    <div class="p-2">
        <div class="d-flex">
            <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/000000/external-user-interface-kiranshastry-solid-kiranshastry-1.png" class="avatar" width="50px" height="50px">
            <div class="text-primary p-3 h6">
                # {{username}}
            </div>
        </div>
        <div class="d-flex">
            <span class="badge bg-success m-1">Active</span>
            <span class="badge bg-warning m-1">11 Blogs</span>
        </div>
    </div>
    <br>
</div>